@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /* make 1rem == 10px */
}

body {
	box-sizing: border-box;
	font-family: "Inter", "sans-serif";
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
